*.exe
data_gathering/dwd/raw
data_gathering/dwd/__pycache__
data_gathering/dwd/test_mapping.py
*.json
*.csv
!data_gathering/smard/power2022.csv
!data_dwd_wo_RR.csv
!completestations_data_dwd.csv
data_gathering/smard/test.py
data.txt
*.png
!data_gathering/baumann_csv_style/compact_solar.csv
!data_gathering/baumann_csv_style/compact_wind_offshore.csv
!data_gathering/baumann_csv_style/compact_wind_onshore.csv
!data_gathering/baumann_csv_style/solar.csv
!data_gathering/baumann_csv_style/wind_offshore.csv
!data_gathering/baumann_csv_style/wind_onshore.csv
Weather_Power_Regression/dwd
Weather_Power_Regression/smard
Weather_Power_Regression/baumann_csv_style
Weather_Power_Regression(1).zip
Weather_Power_Regression/README.md
Weather_Power_Regression/Vollstandige_Ergebnisse_der_Weka_Analyse.pdf